@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.transcriptionEdition {
  width: 100%;
}
.transcriptionSeparator {
  padding: 5px;
  background-color: blue;
}
.transcriptionRow {
  /*padding: 10px;*/
  border: 10px solid green;
}
.transcriptionLine {
  border: 1px dashed white;
}
.p80, .p90, .p100 {
  color: green;
}
.p60, .p70 {
  color: orange;
}
.p00, .p10, .p20, .p30, .p40, .p50 {
  color: red;
}
.moveLine {
  background-color: #66a8cc;
  cursor: pointer;
}
.transcriptionLine:has(.moveLine:hover) {
  background-color: #66a8cc;
}
.word:hover {
  background-color: grey;
}
.moveFirstWord {
  cursor: pointer;
  background-color: #998512;
  border:1px solid yellow;
  border-right: 0;
}
.firstWord ~ .moveFirstWord{
  background-color: #998512;
  border: 10px solid yellow;
}
.moveFirstWord:hover ~ .editableLine .firstWord {
  background-color: #998512;
}
.user {
  border: 1px solid red;
}
.lines {
  border: 1px solid blue;
}
[contenteditable]:focus {
  outline: 0px solid transparent;
}
.firstWord {
  border:1px solid yellow;
  border-left:0;
}
.showJson {
  cursor: pointer;
}



.transcriptionLine {
  padding: 5px;
  padding-left: 0;
}
.moveLine {
  width: 1em;
  padding: 8px;
}
.showJson {
  margin: 8px;
  margin-right:0;
}
.moveFirstWord {
  margin-left:1em;
  width: 2em;
  padding: 8px;
}
.editableLine {
  margin-left:0;
  /*padding: 8px;*/
  padding-left:0;
  /*border: 1px solid brown;*/
  line-height: 2em;
}
.transcriptionLine .moveFirstWord,
.transcriptionLine .firstWord,
.transcriptionLine .word {
  padding: 6px;
}
.transcriptionLine .word {
  padding-left: 0;
  padding-right: 0;
}
.firstWord {
  margin-left:0px;
}



.author {
    text-align: center;
    position: relative;
    overflow-wrap: anywhere;
}
.author a {
    justify-content: center;
    align-items: center;
    height: 100px;
    display: flex;
    color: white;
    cursor: pointer;
}