.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 90%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
.current, .modification {
  padding: 1em;
}
.current {
  background-color: green;
}
.modification {
  background-color: indianred;
}

.select-another-speaker {
  background-color: mistyrose;
  cursor: pointer;
}
.current-speaker {
  background-color: darkseagreen;
}
.current-speaker:hover {
  background-color: darkseagreen;
}